/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: #333;
  background-color: #fdfdfd;
  line-height: 1.6;
}

/* === HEADER COM TRANSIÇÃO === */
.site-header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 2s ease, backdrop-filter 2s ease;
  backdrop-filter: blur(3px);
  background-color: rgba(51, 33, 44, 0);
}

.site-header.scrolled {
  background-color: rgba(51, 33, 44, 1);
  backdrop-filter: none;
}

.site-header .container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 90px;
}

.site-name {
  font-size: 20px;
  color: #FFCB6E;
  font-weight: 400;
}

/* === NAVEGAÇÃO COM HOVER SUAVE E BRILHO === */
.navigation {
  display: flex;
  gap: 8px;
}

.nav-pill {
  padding: 8px;
  height: 36px;
  font-size: 20px;
  color: #FFCB6E;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  transition: 
    color 0.3s ease,
    transform 0.3s ease,
    text-shadow 0.3s ease;
}

.nav-pill:hover {
  color: #f6ac52;
  transform: scale(1.08);
  text-shadow: 0 0 2px #FFD580, 0 0 15px #FFD580;
}

/* Momentos Especiais */
.momentos-especiais {
  position: relative;
  width: 100%;
  height: 308px;
  margin-top: 0px;
  background: linear-gradient(93.84deg, #33212C 30.05%, #21151C 74.41%);
  border-bottom: 5px solid #BA8C54;
}

.fundo-momentos{
  width: 100%;
  display: flex;
  justify-content: center;
}

.lirio-momentos{ 
  position: relative;
  width: 1500px;
  height: 210px;
  top: 90px;
}

.textos-momentos-especiais{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo-momentos {
  width: 647px;
  height: 72px;
  top: 140px;
  font-family: 'Great Vibes', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 95px;
  line-height: 125.02%;
  color: #BA8C54;
  text-align: center;
  margin-top: -85px;
}

.descricao-momentos {
  width: 733px;
  height: 40px;
  top: 245px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125.02%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 35px;
}

/* Espaco Bege */
.espaco-bege {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 60px;
  background: #EBE2D9;
  border-top: 2px solid #BA8C54;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* Galeria com as Fotos */
.fundo-fotos-galeria{
  position: relative;
  background: linear-gradient(180deg, #ECE3DA 0%, #FFE4BD 86.01%), #FFFFFF;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fotos-galeria {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 58px;
  max-width: 1900px;
}

.foto {
  width: 364px;
  height: 364px;
  background-size: cover;
  background-position: center;
  margin: 0px 12px 15px 12px;
}

/* Rodapé */
.rodape {
  position: relative;
  width: 100%;
  height: 287px;
}

.fundo-rodape{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.flores-rodape {
  position: absolute;
  width: 100%;
  height: 250px;
}

.conteudo-rodape {
  width: 100%;
  height: 250px;
  background: linear-gradient(103.74deg, #21151C 52.99%, #875673 115.37%);
  border-bottom: 2px solid #FFCB6E;
}

.logo-rodape {
  height: 200px;
  width: 100%;
}

.img-logo-rodape {
  padding: 10px;
  margin-top: 40px;
  margin-left: 20px;
}

.info-rodape {
  position: absolute;
  left: 170px;
  bottom: 60px;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

.info-rodape .titulo-rodape {
  font-size: 24px;
  color: #FFCB6E;
}

.info-rodape .subtitulo-rodape {
  font-weight: 700;
  font-size: 16px;
}

.linha-rodape {
  width: 247px;
  border: 1px solid #FFCB6E;
  margin: 8px 0;
}

.menu-titulo-rodape {
  color: #FFCB6E;
  font-size: 16px;
  margin: 0;
}

.menu-links-rodape {
  text-decoration: underline;
  text-decoration-color:#FFCB6E;
  font-size: 16px;
  margin-top: 2px;
  color: #FFFFFF;
  cursor: pointer;
}

.menu-links-rodape:hover{
  color: #BA8C54;
}

.lista-menu-links-rodape {
  display: flex;
  justify-content: space-around;
}

.fa-circle{
  font-size: 3px;
  padding: 13px;
}

.telefone-rodape {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  text-decoration: underline;
  text-decoration-color: #BA8C54;
  text-underline-offset: 3px;
  font-family: "Cormorant Infant", sans-serif;
}

.telefone-rodape span {
  color: #BA8C54;
}

.como-chegar {
  position: absolute;
  bottom: 170px;
  right: 385px;
  color: #FFCB6E;
  font-family: 'Cormorant Garamond', serif;
}

.titulos-rodape {
  font-size: 25px;
  margin: 0;
}

.botao-rota {
  margin-top: 10px;
  margin-left: 20px;
  width: 92px;
  height: 35px;
  border: 1.5px solid #BA8C54;
  border-radius: 76px;
  background: transparent;
  color: #BA8C54;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 800;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.botao-rota:hover{
  color: #33212C;
  background-color: #FFCB6E;
}

.redes-rodape {
  position: absolute;
  bottom: 175px;
  right: 70px;
  color: #FFCB6E;
  font-family: 'Cormorant Garamond', serif;
}

.redes-sociais-rodape {
  display: flex;
  flex-direction: initial;
  gap: 20px;
}

.fa-instagram, .fa-facebook-f, .fa-location-dot{
  font-size: 20px;
  color: #FFCB6E;
  text-decoration: none;
  cursor: pointer;
}

.fa-instagram:hover, .fa-facebook-f:hover, .fa-location-dot:hover{
  color: #FFFFFF;
}

.premiacoes {
  position: absolute;
  bottom: 60px;
  right: 15px;
}

.premiacoes img {
  width: 500px;
  height: 54.8px;
}

.rodape-final {
  bottom: 0;
  width: 100%;
  height: 90px;
  background: linear-gradient(90deg, #21151C 24.13%, #33212C 100%);
  font-family: 'Cormorant Infant', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #FFCB6E;
  text-align: center;
  line-height: 90px;
}
